<% include in/header%>

<div id="bd">
<% if (names.length) { %>
  <ul>
    <% names.forEach(function(name){ %>
      <li foo='<%= name + "'" %>'><%= name %></li>
    <% }) %>
  </ul>
<% } %>
</div>

<% include in/footer %>