	<div id="ft">
	    <% if (navs.length) { %>
	      <ul>
	        <% navs.forEach(function(nav){ %>
	          <li href="<%= nav.href %>"><%= nav.name %></li>
	        <% }) %>
	      </ul>
	    <% } %>
	</div>
</div>
</body>
</html>